h1 {
    list-style: none;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;

    input {
        font-family: 'Roboto', sans-serif;
        width: 330px;
        border-radius: 15px;
        text-align: center;
        color: black;
        background-color: white;
        border: 1px solid #77B6A8;
        margin-top: 28px;
        height: 40px;
        list-style: none;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    .container_button {
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: space-around;

        p {
            list-style: none;
            font-size: 12px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;

            a {
                color: #77B6A8;
            }
        }

        button {
            width: 100px;
            height: 40px;
            border-radius: 10px;
            background-color: #77B6A8;
            color: white;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }

        button:hover {
            background-color: #96969A;
            color: #000;
            cursor: pointer;
        }
    }
}