.container_image{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    img{
        width: 90%;
    }
}
.container_posts{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #96969A;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #77B6A8;
    padding: 20px;

    .container_title{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #77B6A8;
        h1{
            list-style: none;
            font-size: 30px;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
        }
    }
    p{
        list-style: none;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
    .date{
        font-size: 12px;
    }
}